<form #nameForm="ngForm">
    <div class="form-inline row">
        <div class="col-sm-11">
            <input id="inputText" class="form-control mr-sm-2" style = 'width : 100%' type="search" placeholder="Search" 
            aria-label="Search" (input) = "autoCompletion($event)" name = "inputText" [(ngModel)] = "inputText" >
        </div>
        <div class="col-sm-1">
            <button class="btn btn-outline-primary my-2 mr-sm-0" type="submit" (input)="searchByType($event)">Search Type</button>
        </div>
    </div>
</form>

<div id="poke_container" class="poke-container" >
    <app-pokemon-details *ngFor="let loopVariable of autoCompleteArray"  [pokemonDataObject]="loopVariable">
    </app-pokemon-details>
</div>