<div class="form-inline row">
    <div class="col-sm-11">
        <input class="form-control mr-sm-2" style='width : 100%' type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-sm-1">
        <button class="btn btn-outline-success my-2 mr-sm-0" type="submit">Name Search</button>
    </div>
</div>
<!-- why this does not work? Code Piece-2
<app-pokemon-details *ngFor="let loopVariable of localPokemonDataTs; let i = index"
    [pokemonDataObject] = "loopVariable.data">
</app-pokemon-details>
-->
<app-pokemon-details *ngFor="let loopVariable of localPokemonDataTs; let i = index"
    [pokemonDataObject] = "loopVariable">
</app-pokemon-details>