<div class="pokemon">
    <div class="img-container">
        <img [src]="pokemonDataObject.img" [alt]="pokemonDataObject.name" />
    </div>
    <div class="info">
        <span class="number">{{ pokemonDataObject.id.toString().padStart(3, '0') }} </span>
        <h3 class="name">{{ pokemonDataObject.name }}</h3>
        <!-- <small class="type">Type: <span>${type}</span></small> -->
    </div>
</div>
<!-- <div class="card mb-3">
    <div class="row no-gutters">

        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Name = {{ pokemonDataObject.name }}</h3>
                <p class="card-text"> Height = {{ pokemonDataObject.height }} </p>
                <p class="card-text"> Weight = {{ pokemonDataObject.weight }}</p>
                <div class="card-text" *ngIf="pokemonDataObject.weaknesses"> 
                <p>Weaknesses = </p> 
                <ul>
                    <li *ngFor="let loopVariable of pokemonDataObject.weaknesses,let i = index">
                        <span> {{ loopVariable }} </span>
                    </li>
                </ul>
                </div>
                <p class="card-text" *ngIf="pokemonDataObject.prev_evolution || pokemonDataObject.next_evolution ">
                    Evolutions = </p>
                <div *ngIf="pokemonDataObject.prev_evolution">
                    <p>Previous Evolution : </p>
                    <ul>
                        <li *ngFor="let loopVariable of pokemonDataObject.prev_evolution,let i = index">
                            <span> {{ loopVariable.name }} </span>
                        </li>
                    </ul>
                </div>
                <div *ngIf="pokemonDataObject.next_evolution">
                    <p>Next Evolution : </p>
                    <ul>
                        <li *ngFor="let loopVariable of pokemonDataObject.next_evolution,let i = index">
                            <span> {{ loopVariable.name }} </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img [src]="pokemonDataObject.img" class="card-img" [alt]="pokemonDataObject.name">
        </div>
    </div>
</div> -->