<div class="card mb-3" >
    <div class="row no-gutters">

        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Name = {{ name }} </h3>
                <p class="card-text"> Attack =  {{ Attack }} </p>
                <p class="card-text"> Defense =  </p>
                <p class="card-text"> Speed =  </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="http://www.serebii.net/pokemongo/pokemon/025.png" class="card-img" alt="...">
        </div>
    </div>
    </div>
